* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

h1 .seo {
    color: #d9dcd6;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

ul {
    list-style-type: none;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul li {
    display: inline-block;
    margin-left: 25px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*place img selector above the img.team so as not to override the img.team element*/
img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/*created a contextual selector for the team image to differentiate it from the general img element*/
img.team {
    max-width: 100%;
    height: auto;
    margin:0px 0px 25px 0px;
}
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/*changed classes to target the semantic tags for: header, article, section, aside, footer*/
/*instance of repeated styles - assigned those HTML elements to their respective style*/
article {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*instance of repeated styles - assigned those HTML elements to their respective style*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
section {
    margin-bottom: 32px;
    color: #ffffff;
}
/*instance of repeated styles - assigned those HTML elements to their respective style*/
.services {
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #0072bb;
        color: #ffffff;
    }

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}